
.btn-one {
    color: #fd5d14;
}
.thm_clr1{
    color: #f741dc;    
}
.main-slider .content h2 span{
    color: #fd5d14;
}
.sec-title p{
    color: #fd5d14;
}
.twitter-feed-box span {
    color: #fd5d14;
}
.twitter-feed-box .bottom .comments a i {
    color: #fd5d14;
}
.single-service-style3 .overlay-content .title-holder p {
    color: #fd5d14;
}
.slogan-content .quote-button a {
    color: #fd5d14;
}


/*==============================================
   Theme Hover Color Css
===============================================*/
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a{
	color: #ff10dd;
}
.main-menu .navigation>li>ul>li>a:hover {
	color: #ff10dd;
}
.main-menu .navigation> li> ul> li> a:before{
    color: #ff10dd;
}
.main-menu .navigation> li> ul> li:hover > a{
	color: #ff10dd;
}
.main-menu .navigation> li> ul> li> ul> li> a:hover {
	color: #ff10dd;
}
.main-menu .navigation>li>ul>li>ul>li a:before{
    color: #ff10dd;
}
.main-menu.style2 .navigation>li:hover>a,
.main-menu.style2 .navigation>li.current>a{
	color: #ff10dd;
}
.main-menu.style2.clr-white .navigation>li:hover>a,
.main-menu.style2.clr-white .navigation>li.current>a{
	color: #ff10dd;
}
.sticky-header .main-menu .navigation>li:hover>a, 
.sticky-header .main-menu .navigation>li.current>a {
    color: #ff10dd;
}


.outer-search-box-style1 .seach-toggle:hover,
.outer-search-box-style1 .seach-toggle.active{
    color: #fd5d14;
}
.social-links-style1 li a:hover i {
    background: #fd5d14;
}
.single-footer-widget .page-links li a:hover{
    color: #fd5d14;    
}
.single-service-style3 .overlay-content .title-holder h3 a:hover {
    color: #fd5d14;
}




/*==============================================
   Theme Background Css
===============================================*/
.thm-bgclr1{
    background-color: #ffe701;
}
.thm_bgclr2{
    background-color: #0c67c4;    
}
.thm_bgclr3{
    background-color: #33c7c5;    
}

.main-slider .content h3:before{
    background: rgba(253, 93, 19, 0.40);
}
.single-portfolio-style1 .img-holder .title-holder:before {
    background-color: #fd5d14;
}
.testimonial-style1-title-box:before {
    background: #880074;
}
.main-menu.style2 .navigation>li>a span.homeicon {
    background: #fd5d14;
}
.single-service-style3 .overlay-content .icon-holder {
    background: #fd5d14;
}
.video-holder-box-style3 a span:before {
    background: #fd5d14;
}
.slogan-area {
    background: #fd5d14;
}
.slogan-content.style2 .quote-button a{
    background: #fd5d14;    
}
.quote-button.style3 a {
    background: #fd5d14;
}

.video-holder-box-style5 .icon .inner a span:before {
    background: #fd5d14;
}



/*==============================================
   Theme Hover Background Color Css
===============================================*/
.btn-one:hover,
.btn-one:focus{
    background: #ff10dd;
}
.owl-nav-style-one.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #fd5d14;
}
.single-footer-widget .page-links li a:hover:before{
    background: #fd5d14;    
}
.owl-carousel.owl-dot-style1 .owl-dots .owl-dot.active{
    background: #fd5d14;
}
.accordion-box .accordion .accord-btn.active {
    background: #fd5d14;
}
.slogan-content .quote-button a:hover{
    background: #ff10dd;
}


/*==============================================
   Theme Border Color Css
===============================================*/
.btn-one {
    border: 2px solid #fd5d14;
}
.btn-one:hover,
.btn-one:focus{
    border: 2px solid #ff10dd;
}
.single-blog-post-style3.withbdr {
    border: 5px solid #fd5d14;
}









/*==============================================
   Theme Other Color, Background, Hover, Active Css
===============================================*/
.header-social-links .social-links-style1 li a:hover{
    color: #a0008a;
}
.header-menu ul li a:hover{
    color: #a0008a;
}
.quote-button a span:before {
    color: #a0008a;
}
.quote-button a:hover{
    background: #a0008a;
}
.main-slider .content .btns-box .btn-one{
    border-color: #a0008a;
    background: #a0008a;
}
.main-slider .content .btns-box .btn-two:hover{
    border-color: #a0008a;
    background: #a0008a;
}
.main-slider .owl-theme .owl-dots .owl-dot.active{
    background: #ff10dd;
}
.main-slider .owl-theme .owl-dots .owl-dot.active:before{
    background: #ff10dd;
}
.service-style1-area .title h1 a{
    color: #a0008a;
    border-bottom: 1px solid #a0008a;
}
.single-service-style1 .text-holder .count-box {
    background: #ffeee7;
}
.single-service-style1 .text-holder .count-box:before{
    background: #a0008a; 
}
.video-holder-box .icon .inner a span:before {
    background: #ff10dd;
}
.about-style1-text-box .title p{
    color: #a0008a;
}
.about-style1-text-box .title h1 b{
    color: #a0008a;
}
.about-style1-text-box .title h1 span{
    background: #a0008a;
}
.single-service-style2 .img-holder .static-content .title:before {
    border: 2px solid #a0008a;
}
.single-service-style2 .img-holder .static-content .icon a {
    background: #a0008a;
}
.single-service-style2 .overlay-content .inner-content .icon {
    color: #a0008a;
}
.single-service-style2 .overlay-content .inner-content .text-holder .title:before {
    border: 2px solid #a0008a;
}
.single-service-style2 .overlay-content .inner-content .text-holder .title h3 a:hover{
    color: #a0008a;    
}
.single-fact-counter .count-box h1 {
    color: #a0008a;
}
.project-filter li:hover .filter-text, 
.project-filter li.active .filter-text {
    color: #a0008a;
}
.single-portfolio-style1 .img-holder .inner-box .zoom-button a span:before {
    background: #a0008a;
}
.single-portfolio-style1 .img-holder .title-holder span.tag {
    color: #a0008a;
    background: rgba(253, 93, 19, 0.20);
}
.single-portfolio-style1 .img-holder .title-holder p span:before {
    color: #a0008a;
}
.single-testimonial-style1:before {
    color: #a0008a;
}
.single-testimonial-style1 .client-info .icon-box span:before {
    color: #a0008a;
}
.single-testimonial-style1 .client-info .title-box h3 {
    color: #a0008a;
}
.single-team-member .title-holder .inner .right a {
    background: #a0008a;
}
.single-team-member .title-holder:before {
    background: #a0008a;
}
.single-blog-post .img-holder .post-date p {
    background: #a0008a;
}
.single-blog-post .text-holder .blog-title a:hover {
    color: #a0008a;
}
.single-blog-post .text-holder .bottom .author-name a span:before {
    color: #a0008a;
}
.single-blog-post .text-holder .bottom .read-more-button a {
    color: #a0008a;
}
.copyright-text:before {
    background: #a0008a;
}
.footer-menu ul li a:hover {
    color: #a0008a;
}
.scroll-top {
    color: #a0008a;
    border: 2px solid #a0008a;
}
.scroll-top:hover{
    background: #a0008a;
}
.quote-button.style2 a {
    background: #a0008a;
}
.video-holder-box-style4 a span:before {
    background: #a0008a;
}
.video-holder-box.style2 .icon .inner a span:before {
    color: #a0008a;
}
.about-style2-area {
    background: #a0008a;
}
.single-portfolio-style2 .overlay-content .title-holder p {
    color: #a0008a;
}
.single-portfolio-style2 .overlay-content .title-holder h3 a:hover {
    color: #a0008a;
}
.single-portfolio-style2 .overlay-content .icon-holder {
    background: #a0008a;
}
.single-testimonial-style1.style3 .client-info .icon-box span:before {
    border: 1px solid #a0008a;
    background: #a0008a;
}
.breadcrumb-area .breadcrumb-menu ul li.active{
    color: #a0008a;   
}
.breadcrumb-area .breadcrumb-menu ul li a:hover{
    color: #a0008a;     
}
.brochures-box ul li .left .icon span:before {
    color: #a0008a;
}
.brochures-box ul li .left h5 a {
    color: #a0008a;
}
.header-contact-info ul li .title h6 a:hover{
    color: #a0008a;    
}
.single-blog-post-style3 .text-holder .blog-title a:hover {
    color: #a0008a;    
}

.styled-pagination li a:hover,
.styled-pagination li a.active{
	color: #a0008a;
}
.styled-pagination li.next a {
    background: #a0008a;
}
.portfolio-single-video-box a span:before {
    background: #a0008a;
}
.project-info-box{
    background: #a0008a;
}
.portfolio-details-content-box .tag{
    color: #a0008a;
}
.project-info-box.style2 {
    background: #a0008a;
}
.comment-meta-box li a:hover{
    color: #a0008a;
}
.add-comment-box #add-comment-form button {
    background: #a0008a;
}
.add-comment-box #add-comment-form button:hover{
    color: #a0008a;
}
.team-member-info-box .social-links-style1 li a:hover i{
    background: #fd5d14;
}
.single-partner-logo-box-style2:hover a img{
    background: #a0008a;
}
.single-blog-post-style3 .text-holder h4{
    color: #a0008a;
}
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one {
    background: #a0008a;
}
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one:hover{
    color: #a0008a;
}
.single-blog-post-style3 .quote-box .icon {
    background: #a0008a;
}
.single-blog-post-style3 .img-holder .overlay a{
    color: #a0008a;
}
.categories li a:hover{
    color: #a0008a;
}
.single-sidebar .popular-tag li a:before {
    background: #a0008a;
}
.single-sidebar .project-box .project-lists li a:hover{
    color: #a0008a;    
}
.single-sidebar .ratting-box .ratting-lists li a:hover{
    color: #a0008a;    
}
.sidebar-bottom-box .img-holder .overlay a span:before{
    background: #a0008a;
}
.blog-single-quote-box {
    background: #a0008a;
}
.single-contact-info-box .icon span:before{
    color: #a0008a;
}
.contact-form form button {
    background: #a0008a;
}
.contact-form form button:hover{
    color: #a0008a;
}
