.thm_why {
    color: #c04ce6;
}
.thm_why1 {
    color: #f3d5fd;
}
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a{
	color: #ff10dd;
}
.main-menu .navigation>li>a span.homeicon {
    background: #ff10dd;
}
.header-upper-left .logo a img {
    width: 310px;
}
.img1 {max-width: 100%;
    height: auto;
    transition-timing-function: ease-in-out;
    transition-property: all;
    height: 200px;}