@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.eot");
  src: url("../font/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/flaticon.woff") format("woff"),
       url("../font/flaticon.ttf") format("truetype"),
       url("../font/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}






.flaticon-allah-word:before { content: "\f100"; }
.flaticon-multiply:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-clock:before { content: "\f103"; }
.flaticon-pin:before { content: "\f104"; }
.flaticon-calendar:before { content: "\f105"; }
.flaticon-user:before { content: "\f106"; }
.flaticon-plus:before { content: "\f107"; }
.flaticon-minus:before { content: "\f108"; }
.flaticon-play-button-1:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-call:before { content: "\f10b"; }
.flaticon-play-button:before { content: "\f10c"; }
.flaticon-helmet:before { content: "\f10d"; }
.flaticon-helmet-1:before { content: "\f10e"; }
.flaticon-building:before { content: "\f10f"; }
.flaticon-modern-bridge-road-symbol:before { content: "\f110"; }
.flaticon-house:before { content: "\f111"; }
.flaticon-chair:before { content: "\f112"; }
.flaticon-chair-1:before { content: "\f113"; }
.flaticon-menu:before { content: "\f114"; }
.flaticon-location-pin:before { content: "\f115"; }
.flaticon-text-quotes:before { content: "\f116"; }
.flaticon-engineer:before { content: "\f117"; }
.flaticon-facebook:before { content: "\f118"; }
.flaticon-twitter:before { content: "\f119"; }
.flaticon-instagram:before { content: "\f11a"; }
.flaticon-linkedin:before { content: "\f11b"; }
.flaticon-facebook-1:before { content: "\f11c"; }
.flaticon-twitter-1:before { content: "\f11d"; }
.flaticon-instagram-1:before { content: "\f11e"; }
.flaticon-linkedin-1:before { content: "\f11f"; }
.flaticon-real-estate:before { content: "\f120"; }
.flaticon-house-1:before { content: "\f121"; }
.flaticon-quote:before { content: "\f122"; }
.flaticon-engineer-1:before { content: "\f123"; }
.flaticon-smartphone-with-email:before { content: "\f124"; }
.flaticon-pdf:before { content: "\f125"; }
.flaticon-reply-all-button:before { content: "\f126"; }
.flaticon-clock-circular-outline:before { content: "\f127"; }
.flaticon-star-of-favorites-outline:before { content: "\f128"; }
.flaticon-supermarket:before { content: "\f129"; }
.flaticon-edit:before { content: "\f12a"; }
.flaticon-trash:before { content: "\f12b"; }
.flaticon-right-arrow:before { content: "\f12c"; }
.flaticon-twitter-logo-shape:before { content: "\f12d"; }
.flaticon-chat-1:before { content: "\f12e"; }
.flaticon-next:before { content: "\f12f"; }
.flaticon-next-1:before { content: "\f130"; }
.flaticon-quotation-marks:before { content: "\f131"; }
.flaticon-left-quotes-sign:before { content: "\f132"; }
.flaticon-list:before { content: "\f133"; }
.flaticon-quote-1:before { content: "\f134"; }
.flaticon-headphones:before { content: "\f135"; }
.flaticon-mail-1:before { content: "\f136"; }
.flaticon-pin-1:before { content: "\f137"; }
.flaticon-open-envelope-with-letter:before { content: "\f138"; }
.flaticon-smartphone:before { content: "\f139"; }
.flaticon-comment:before { content: "\f13a"; }


